<%- include('../includes/head.ejs') %>
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="allheader text-center">
            <h1>Cerita dibalik..</h1>
          </div>

        <div class="centered about">
            <div class="aboutheader">
                 <p class="abouttext">Sudah menjadi fakta lama bahwa rpose (disuntikkan humor dan sejenisnya). Sudah menjadi fakta lama bahwa pembaca akan terganggu oleh konten halaman yang dapat dibaca ketika melihat tata letaknya. Maksud penggunaan Lorem Ipsum adalah bahwa ia memiliki distribusi huruf yang kurang lebih normal, dibandingkan dengan menggunakan 'Konten di sini, konten di sini', sehingga terlihat seperti bahasa Inggris yang dapat dibaca. Banyak paket penerbitan desktop dan editor halaman web sekarang menggunakan Lorem Ipsum sebagai teks model default mereka, dan pencarian untuk 'lorem ipsum' akan menemukan banyak situs web yang masih dalam masa pertumbuhan. Berbagai versi telah berkembang selama bertahun-tahun, terkadang secara tidak sengaja, terkadang dengan sengaja (disuntikkan humor dan sejenisnya).</p>
                </div>
        
         </div>
    </main>
<%- include('../includes/end.ejs') %>