<%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main>
    <article>

      <div class="allheader text-center">
        <h1>Tutorial</h1>
      </div>

      <div class="youtube">
        <p>Lorem ipsum, atau sering dikenal dengan istilah lipsum, adalah teks tiruan yang digunakan dalam menata desain cetak, grafis, atau web. Bagian ini dikaitkan dengan penata huruf yang tidak dikenal pada abad ke-15 yang diperkirakan telah mengacak bagian dari De Finibus Bonorum et Malorum karya Cicero untuk digunakan dalam buku spesimen tipe.</p>
      </div>
    </article>

  </main>
  <%- include('../includes/end.ejs') %>